* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  height: 100vh; /*和屏幕一样高*/
  width: 100vw; /*和屏幕一样宽*/
  border: 1px solid red;
  display: block; /*canvas默认是inline元素，不能由width指定*/
}
